* {
    direction: rtl;
    font-size: 1.3rem;
}

button {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

#before {
    position: absolute;
}

#after {
    visibility: hidden;
    position: static;
}

#answer {
    visibility: hidden;
}