* {
    direction: rtl;
    font-size: 1.3rem;
    text-align: center;
    /* margin: 10px; */
}

:root {
    --font-size: 1rem;
}

button {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

hr {
    margin-bottom: 25px;
}

.thanks {
    position:absolute;
    font-size: var(--font-size);
    width: 300px;
    margin: 10px;
    margin-left:-150px;
    bottom:0px;
    left:50%;
}

.thanks-link {
    font-size: var(--font-size);
}



#after {
    /* visibility: hidden; */
    display: none;
}

#answer {
    /* visibility: hidden; */
    display: none;
}

